<div class="bg80 center">

  <h2>POST-CATEGORY</h2>



  <%= link_to 'back post', posts_path, :class => "btn btn-default" %>

  <HR size="30">
  <% @post_categories.each do |post_category| %>

      <div class="col-md-6">
        <%= post_category.title %>
      </div>
      <div class="col-md-6">

            <%= link_to 'edit', edit_post_category_path(post_category), :class => "btn btn-default" %>

            <%= link_to 'Delete', post_category_path(post_category, :page => params[:page]), :method => :delete, :class => "btn btn-danger" %>

      </div>


  <% end %>


  <div>
    <%= form_for @post_category, :url => post_categories_path(@post_category) do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <%= f.submit "Create", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>