<div class="bg80 center">
  <head>
    <script src="/ckeditor/ckeditor.js"></script>
  </head>
  <h2>Edit your profile</h2>


  <%= form_for @user do |f| %>
      <div class="form-group ">

        <%= f.label :first_name, "FINAL_NAME：" %>

        <%= f.text_field :first_name, :class => "form-control"%>
      </div>
      <div class="form-group ">

        <%= f.label :last_name, "LAST_NAME：" %>

        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
      <div class="form-group ">
        <%= f.label :description, "Description：" %>

      </div>
      <div data-no-turbolink>
        <%= f.cktext_area :description, :class => 'someclass', :ckeditor => {:language => 'zh-tw'} %>
      </div>


      <%= f.time_zone_select :time_zone %>


      <%= f.file_field :img %>

      <%= f.submit %>

  <% end %>
</div>