<div class="bg80 center">


  <h1>
    <% if @user.first_name && @user.last_name %>
        <%= @user.first_name+" "+ @user.last_name %>
    <% else %>
        <%= @user.display_name %>
    <% end %>
  </h1>


  <%= image_tag(@user.img.url(:medium)) %>

  <ul class="list-inline list-unstyled">
    <li>
      <% if current_user != nil && current_user.admin == true %>

          <%= link_to 'admin', "/admin", :class => "btn btn-default" %>

      <% end %>
      <%= link_to "Home", root_path, :class => "btn btn-default" %>
      <%= link_to "friend", friendships_path(:friend_id => @user), :method => :post, :class => "btn btn-default" %>
    </li>
  </ul>


  <h3>基本資料</h3>


  <h4>name : <%=@user.first_name+""+@user.last_name %></h4>


  <h3>description</h3>

  <%= @user.description %>


  <h3>firend</h3>

  <% @my_friendships.each do |u| %>
      <p> <%= u.friend.email %></p>
  <% end %>




  <h3>firend_create</h3>

  <% @anti_friendships.each do |f| %>
      <%= f.user.email %>
      <%= link_to "unfriend", friendship_path(:friend_id => f.user), :method => :delete, :class => "btn btn-default" %>
      <%= link_to "confirm", confirm_friendship_path(f, :friend_id => f.user), method: :post, :class => "btn btn-default" %>


  <% end %>





 


</div>