<div class="form-group ">

  <%= f.label :title, "TITLE" %>

  <%= f.text_field :title, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :description, "Description" %>

</div>
<div data-no-turbolink>
  <%= f.cktext_area :description, :class => 'someclass', :ckeditor => {:language => 'zh-tw'} %>
</div>
<div class="form-group">

  <%= f.file_field :img %>

</div>

<p><%= f.collection_check_boxes(:post_category_ids, PostCategory.all, :id, :title) %></p>

<% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>