<div class="form-group ">
  <div class="cco">
    <%= f.label :title, "TITLE" %>
  </div>
  <%= f.text_field :title %>
</div>
<div class="form-group">
  <div class="cco">
    <%= f.label :description, "Description" %>
  </div>
  <%= f.text_area :description %>
</div>
<div class="form-group">
  <div class="cco">
    <%= f.file_field :img %>
  </div>
</div>

<%= f.collection_check_boxes(:post_category_ids, PostCategory.all, :id, :title) %>

<% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>