<div class="bg80 center">
  <h1 class="color_b texts60">POST</h1>
  <h2 class="">技術分享</h2>
  <% if current_user != nil && current_user.admin == true %>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to 'New post', new_post_path, :class => "btn btn-default" %>
        </li>
        <li>
          <%= link_to 'category', post_categories_path, :class => "btn btn-default" %>
        </li>
      </ul>
  <% end %>
  <div class="indexdiv">
    <% @posts.each do |post| %>
        <div class="index_post row thumbnail">
          <div class="img col-md-3">
            <% if post.img.exists? %>
                <% tit = image_tag(post.img.url(:medium)) %>
                <%= link_to tit, post_path(post, :page => params[:page]) %>
            <% else %>
                <% tit = image_tag("missing.png", size: "200x200") %>
                <%= link_to tit, post_path(post) %>
            <% end %>
          </div>
          <div class="col-md-8 fixfather">
            <div class="over">
            <div class="title">
              <% if post.title != "" %>
                  <h3 class="title float"> <%= link_to post.title, post_path(post, :page => params[:page]) %></h3>
              <% else %>
                  <h3 class="title float"> <%= link_to "no title", post_path(post, :page => params[:page]) %></h3>
              <% end %>
            </div>
            <div class="Article">
              <%= simple_format(post.description) %>
            </div>
              </div>
            <%= link_to 'READ MORE', post_path(post, :page => params[:page]), :class => "btn btn-default fixed" %>
          </div>
        </div>

    <% end %>

    <%= paginate @posts,:theme => 'twitter-bootstrap-3' %>
  </div>
</div>