<div class="bg80 center">

  <h2>
    <%= @post.title %>
  </h2>

  <% @post.post_categories.each do |g| %>
      - <%= g.title %> -
  <% end %>

  - <%= @post.display_timezone %> -

  <% like = @post.finy_like_by(current_user) %>

  <h3><%= @post.likes.count %>
    <% if current_user != nil %>
        <% if like %>
            <%= link_to "Unlike", post_like_path(@post, like), :method => :delete, :class => "btn btn-primary btn-sm" %>
        <% else %>
            <%= link_to "Like", post_likes_path(@post), :method => :post, :class => "btn btn-primary btn-sm" %>
        <% end %>
    <% else %>
        <%= link_to "Like", post_likes_path(@post), :method => :post, :class => "btn btn-primary btn-sm" %>
    <% end %>
  </h3>

  <HR size="30">
  <% if current_user != nil && current_user.admin == true %>

      <%= link_to 'edit', edit_post_path(@post), :class => "btn btn-default" %>
      <%= link_to 'Delete', post_path(@post, :page => params[:page]), :method => :delete, :class => "btn btn-danger" %>

  <% end %>

  <h3>ARTICLE</h3>
  <div class="row article">
    <div class="col-md-8 description article ">
      <%= simple_format(@post.description) %>
    </div>
    <div class="col-md-4 description article center push">
      <p class="textcenter"><%= @name %></p>
      <% @posts.each do |post| %>
          <div class=" col-md-10 postshow">
            <div class="thumbnail">
              <div class="postshowimg">
                <% if post.img.exists? && post.ved? %>
                    <% tit = image_tag(post.img.url(:medium)) %>
                    <%= link_to tit, post_path(post, :post_category_id => params[:post_category_id]) %>
                <% else %>
                    <% tit = image_tag("missing.png", size: "200x200") %>
                    <%= link_to tit, post_path(post, :post_category_id => params[:post_category_id]) %>
                <% end %>
              </div>
              <div class=" ">
                <div class="over">
                  <p><%= link_to post.title, post_path(post, :post_category_id => params[:post_category_id]) %></p>
                  <p>
                    <%= simple_format(post.description) %>
                  </p>
                </div>
              </div>
            </div>

          </div>
      <% end %>
    </div>
  </div>


  <h3>
    <%= "COMMENT" %>
  </h3>


  <div id="comments-list">
    <% @comments.each do |comment| %>
        <div id="comment-<%= comment.id %>">

          <div class=" row ">
            <div class="col-md-4 ">
              <%= simple_format(comment.description) %>
            </div>
            <div class="col-md-4">
              <% if comment.user.email != nil %>
                  <% t = comment.user.display_name %>
                  <%= link_to t, user_path(comment.user) %>
              <% end %>
            </div>
            <div class="col-md-4">
              <p>
                <% if current_user == comment.user %>
                    <%= link_to 'edit', edit_post_comment_path(@post, comment), :class => "btn btn-default" %>
                    <%= link_to 'D belete', post_comment_path(@post, comment, :page => @page), :remote => true, :method => :delete, :class => "btn btn-danger" %>
                <% end %>
              </p>
              <%= comment.display_timezone %>
            </div>

          </div>
          <HR size="30">
        </div>

    <% end %>
  </div>




  <%= form_for @comment, :url => post_comments_path(@post), :remote => true do |f| %>
      <%= render :partial => 'comment_form', :locals => {:f => f} %>
      <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>

</div>
