<div class="form-group">
  <P><%= f.label :title, "TITLE" %></P>

  <%= f.text_field :title, :class => "form-control" %>
</div>
<div class="form-group">
  <P><%= f.label :description, "Description" %></P>
</div>
<div data-no-turbolink>
  <%= f.cktext_area :description, :class => 'someclass', :ckeditor => {:language => 'zh-tw'} %>
</div>
<div class="form-group">
  <P><%= f.label :ved, "vedio_small" %></P>

  <%= f.text_area :ved, :class => "form-control" %>
</div>


<div class="form-group">
  <%= f.file_field :img %>
</div>


<P><%= f.collection_check_boxes(:work_category_ids, WorkCategory.all, :id, :title) %></P>

<% if @work_post.errors.any? %>
    <ul>
      <% @work_post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>