<div class="bg80 center">
  <head>
    <script src="/ckeditor/ckeditor.js"></script>
  </head>
  <h2>EDIT_WORK_POST</h2>

  <% if @work_category !=nil %>
      <%= form_for @work_post, :url => work_post_path(@work_post, :work_category_id => @work_category.id), :method => :patch do |f| %>

          <%= render :partial => 'form', :locals => {:f => f} %>
          <%= f.submit "UPDATE", :class => "btn btn-primary" %>
          <%= link_to "bK TO POST", :back, :class => "btn btn-default" %>

      <% end %>
  <% else %>
      <%= form_for @work_post, :url => work_post_path(@work_post), :method => :patch do |f| %>

          <%= render :partial => 'form', :locals => {:f => f} %>
          <%= f.submit "UPDATE", :class => "btn btn-primary" %>
          <%= link_to "bK TO POST", :back, :class => "btn btn-default" %>

      <% end %>
  <% end %>

</div>