<div class="bg80 center">
  <h1 class="color_b texts60">
    <% if @work_category != nil %>
        <%= @work_category.title %>
    <% else %>
    ALL
    <% end %>

  </h1>
  <h2 class="">work 介紹</h2>
  <%= link_to 'c work', new_work_post_path(:work_category_id => params[:work_category_id]), :class => "btn btn-default" %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <% @work_posts.each do |post| %>
          <div class="thumbnail">
            <div class="postimg">
              <% if post.img.exists? && post.ved? %>
                  <% tit = image_tag(post.img.url(:medium)) %>
                  <%= link_to tit, work_post_path(post, :page => params[:page], :work_category_id => params[:work_category_id]) %>
              <% elsif post.img.exists? %>
                  <% tit = image_tag(post.img.url(:medium)) %>
                  <%= link_to tit, work_post_path(post, :page => params[:page], :work_category_id => params[:work_category_id]) %>
              <% elsif post.ved? %>
                  <iframe width="280" height="157" src=<%= post.ved %> frameborder="0" allowfullscreen></iframe>
              <% else %>
                  <% tit = image_tag("missing.png", size: "200x200") %>
                  <%= link_to tit, post_path(post) %>
              <% end %>
            </div>
            <div class="caption fixfather workpost">
              <h3><%= link_to post.title, work_post_path(post, :page => params[:page], :work_category_id => params[:work_category_id]) %></h3>
              <div>
                <%= simple_format(post.description) %>
              </div>
              <%= link_to 'READ MORE', work_post_path(post, :page => params[:page], :work_category_id => params[:work_category_id]), :class => "btn btn-default fixed" %>
            </div>
          </div>
      <% end %>
    </div>

  </div>


</div>