<div class="ti">
  <h1><%= link_to "NAGI-CHIANG", abouts_path %></h1>
  <h2>Welcome to my world.</h2>
</div>

<div class="bgsen">
  <div class="bgblock1">
    <h2 class="center mini-title">New-Work of web</h2>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
              <% if @number < 3 %>
                  <div class="item active">
                    <ul class="thumbnails list-inline">
                      <% @work_post_first_webs.each do |post| %>
                          <li class="span3">
                            <div class="thumbnail">
                              <% tit = image_tag(post.img.url(:medium)) %>
                              <%= link_to tit, work_post_path(post, :work_category_id => @work_category_id) %>
                            </div>
                            <div class="caption">
                              <h4><%= post.title %></h4>

                              <%= link_to "Read More", work_post_path(post, :work_category_id => @work_category_id) %>
                            </div>
                          </li>

                      <% end %>
                    </ul>
                  </div><!-- /Slide1 -->
              <% else %>
                  <div class="item active">
                    <ul class="thumbnails list-inline">
                      <% @work_post_first_webs.each do |post| %>
                          <li class="span3">
                            <div class="thumbnail">
                              <% tit = image_tag(post.img.url(:medium)) %>
                              <%= link_to tit, work_post_path(post, :work_category_id => @work_category_id) %>
                            </div>
                            <div class="caption">
                              <h4><%= post.title %></h4>

                              <%= link_to "Read More", work_post_path(post, :work_category_id => @work_category_id) %>
                            </div>
                          </li>

                      <% end %>
                    </ul>
                  </div><!-- /Slide1 -->

                  <% count=0 %>
                  <% while count < @number_v %>
                      <div class="item">
                        <ul class="thumbnails list-inline">
                          <li class="span3">
                            <div class="thumbnail">
                              <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                            </div>
                            <div class="caption">
                              <h4>Praesent commodo</h4>
                              <p>Nullam Condimentum Nibh Etiam Sem</p>
                              <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="thumbnail">
                              <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                            </div>
                            <div class="caption">
                              <h4>Praesent commodo</h4>
                              <p>Nullam Condimentum Nibh Etiam Sem</p>
                              <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                          </li>
                          <li class="span3">
                            <div class="thumbnail">
                              <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                            </div>
                            <div class="caption">
                              <h4>Praesent commodo</h4>
                              <p>Nullam Condimentum Nibh Etiam Sem</p>
                              <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                          </li>
                        </ul>
                      </div><!-- /Slide2 -->

                      <% count +=1 %>
                  <% end %>

              <% end %>
            </div>


          </div><!-- /#myCarousel -->

        </div><!-- /.span12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->


  </div>
</div>
<div class="bgblock2">
  <h2 class="center mini-title">New-Info</h2>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails list-inline">
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
              </ul>
            </div><!-- /Slide1 -->
            <div class="item">
              <ul class="thumbnails list-inline">
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
              </ul>
            </div><!-- /Slide2 -->
            <div class="item">
              <ul class="thumbnails list-inline">
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
              </ul>
            </div><!-- /Slide3 -->
          </div>


        </div><!-- /#myCarousel -->

      </div><!-- /.span12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="control-box">
    <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>

  </div>
  <div class="control-box">
    <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
  </div>


</div>
<div class="bgblock1">
  <h2 class="center mini-title">New-Port</h2>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails list-inline">
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
              </ul>
            </div><!-- /Slide1 -->
            <div class="item">
              <ul class="thumbnails list-inline">
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
              </ul>
            </div><!-- /Slide2 -->
            <div class="item">
              <ul class="thumbnails list-inline">
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                  </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                    <a class="btn btn-mini" href="#">&raquo; Read More</a>
                  </div>
                </li>
              </ul>
            </div><!-- /Slide3 -->
          </div>


        </div><!-- /#myCarousel -->

      </div><!-- /.span12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="control-box">
    <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>

  </div>
  <div class="control-box">
    <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
  </div>


</div>


</div>
