


<div class="container">
  <div class="vedio u">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active vedio">
          <img src="http://www.ylmfu.com/zhuti/UploadPic/2013-8/2013819104526645.jpg" alt="...">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item vedio">
          <img src="http://www.anime-zone.ru/inc/goods_wallpapers/silver_soul_tv/silver_soul_tv46.jpg" alt="...">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item vedio">
          <img src="https://i.ytimg.com/vi/GovHgbi9Iv8/maxresdefault.jpg" alt="...">
          <div class="carousel-caption">

          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="con1 col-md-7">
      <div class="div col-md-1"></div>
      <div class="con2 col-md-11 center cco">
        <p class="z">
          IMAGE
        </p>
        <div class="imagewlcome">
          <% @work_posts.each do |post| %>
              <div class="xx col-md-3">
                <div class="smailpic">
                  <% if post.img.exists? && post.ved? %>
                      <% tit = image_tag(post.img.url(:medium)) %>
                      <%= link_to tit, work_post_path(post, :page => params[:page], :work_category_id => @work_category.id) %>
                  <% elsif post.img.exists? %>
                      <% tit = image_tag(post.img.url(:medium)) %>
                      <%= link_to tit, work_post_path(post, :page => params[:page], :work_category_id => @work_category.id) %>
                  <% elsif post.ved? %>
                      <iframe width="140" height="85" src=<%= post.ved %> frameborder="0" allowfullscreen></iframe>
                  <% else %>

                  <% end %>
                </div>
                <p>
                  <%= link_to post.title, work_post_path(post, :page => params[:page], :work_category_id => @work_category.id) %>
                </p>
              </div>
          <% end %>


        </div>

      </div>
    </div>
    <div class="con2 col-md-5">
      <div class="t col-md-11">
        <div class="con3 cco center text">
          <div class="z">
            NEW_INFO
          </div>
          <div class="bar1">
            <% @infos.each do |info| %>
                <p class="center row hi">
                <div class="col-md-4 center ">
                  <%= info.created_at %>
                </div>
                <div class="col-md-7 center">
                  <%= link_to info.title, info_path(info, :page => params[:page]) %>
                </div>
                </p>
            <% end %>
          </div>

        </div>

        <div class="con4 cco center text">
          <div class="z">
            NEW_COMMNET_POST
          </div>
          <div class="bar2">
            <% @posts.each do |post| %>
                <p class="center row hi">
                <div class="col-md-4 center ">
                  <%= link_to post.title, post_path(post, :page => params[:page]) %>
                </div>
                <div class="col-md-7 center">
                  <%= post.description %>
                </div>
                </p>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
