<div class="bg80 center">
  <h1 class="color_b texts60">CODE-INNOVATOR</h1>
  <h2 class="">Make the World a Better Place to Live</h2>
  <HR size="30">
  <div class="indexdiv">
    <h3>NEWS</h3>
    <% @infos.each do |info| %>
        <div class="index_post row thumbnail">
          <div class="img col-md-3">
            <% if info.img.exists? %>
                <% tit = image_tag(info.img.url(:medium)) %>
                <%= link_to tit, info_path(info, :page => params[:page]) %>
            <% else %>
                <% tit = image_tag("missing.png", size: "200x200") %>
                <%= link_to tit, info_path(info, :page => params[:page]) %>
            <% end %>
          </div>
          <div class="col-md-8 fixfather">
            <div class="title">
              <h3 class="title float">eqwe3123123131</h3>
            </div>
            <div class="Article">
              <%= info.description %>
            </div>
            <%= link_to 'READ MORE', info_path(info, :page => params[:page]), :class => "btn btn-default fixed" %>
          </div>
        </div>
    <% end %>
    <HR size="30">
    <h3>POSTS</h3>
    <% @posts.each do |post| %>
        <div class="index_post row thumbnail">
          <div class="img col-md-3">
            <% if post.img.exists? %>
                <% tit = image_tag(post.img.url(:medium)) %>
                <%= link_to tit, post_path(post, :page => params[:page]) %>
            <% else %>
                <% tit = image_tag("missing.png", size: "200x200") %>
                <%= link_to tit, post_path(post) %>
            <% end %>
          </div>
          <div class="col-md-8 fixfather">
            <div class="title">
              <h3 class="title float">
                <% if post.title != "" %>
                    <h3 class="title float"> <%= link_to post.title, post_path(post, :page => params[:page]) %></h3>
                <% else %>
                    <h3 class="title float"> <%= link_to "no title", post_path(post, :page => params[:page]) %></h3>
                <% end %>
              </h3>
            </div>
            <div class="Article">
              <%= simple_format(post.description) %>
            </div>
            <%= link_to 'READ MORE', post_path(post, :page => params[:page]), :class => "btn btn-default fixed" %>
          </div>
        </div>
    <% end %>
  </div>
  <HR size="30">
</div>