<div class="bg80 center">
  <h1 class="color_b texts60">INFOS</h1>
  <h2 class="">NEWS</h2>
  <% if current_user != nil && current_user.admin == true %>

      <%= link_to 'New post', new_info_path, :class => "btn btn-default" %>

  <% end %>
  <div class="indexdiv">
    <% @infos.each do |info| %>
        <div class="index_post row thumbnail">
          <div class="img col-md-3">
            <% if info.img.exists? %>
                <% tit = image_tag(info.img.url(:medium)) %>
                <%= link_to tit, info_path(info, :page => params[:page]) %>
            <% else %>
                <% tit = image_tag("missing.png", size: "200x200") %>
                <%= link_to tit, info_path(info, :page => params[:page]) %>
            <% end %>
          </div>
          <div class="col-md-8 fixfather">
            <div class="over">
              <div class="title">
                <h3 class="title float"><%= link_to info.title, info_path(info, :page => params[:page]) %></h3>
              </div>
              <div class="Article">
                <%= simple_format(info.description) %>
              </div>
            </div>
            <%= link_to 'READ MORE', info_path(info, :page => params[:page]), :class => "btn btn-default fixed" %>
          </div>
        </div>
    <% end %>
  </div>
</div>