<!DOCTYPE html>
<html>
<head>
  <title>Nagi</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'black-cat-16.png'%>


  <nav class="navbar-fixed-top">
    <div>

      <ul class="list-unstyled" id="main-ul">

        <li> <%= link_to "Home", root_path, class: "link-3" %></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Introduction
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "News", infos_path %></li>
            <li><%= link_to "About Me", abouts_path %></li>
          </ul>
        </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">work
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @work_categories.each do |work_category| %>
                <li>
                  <%= link_to work_category.title, work_posts_path(:work_category_id => work_category.id) %>
                </li>

            <% end %>
          </ul>
        </li>
        <li><%= link_to "Blog", posts_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">mander centre
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <% if current_user %>
                  <%= link_to('mander data', user_path(current_user), class: "link-3") %>
              <% else %>
                  <%= link_to('SIGN UP', new_registration_path(:user), class: "link-3") %>
              <% end %>
            </li>
            <li>
              <% if current_user %>
                  <%= link_to('SING OUT', destroy_user_session_path, :method => :delete, class: "link-3") %>
              <% else %>
                  <%= link_to('SIGN IN', new_session_path(:user), class: "link-3") %>
              <% end %>
            </li>
          </ul>
        </li>

      </ul>


    </div>

  </nav>
</head>

<body>


<% if flash[:notice] %>
    <script>
      swal("Good job!", "Action create!", "success")
    </script>

<% elsif flash[:alert] %>
    <script>
      swal("Oops...", "Something went wrong!", "error");
    </script>

<% else %>
<% end %>



<div class="bg">


  <%= yield %>

</div>


<footer>
  <p class="center foo">
    <%= time_zone_select :user, :time_zone %>
  </p>

</footer>
</body>
</html>
